@import url(./reset.css);

/* Шрифты */
@font-face {
    font-family: "Stolzl";
    src: url(./../fonts/stolzl_regular.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Gotham Pro Bold";
    src: url(./../fonts/gothampro_bold.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Gotham Pro Black";
    src: url(./../fonts/gothampro_black.ttf);
    font-style: normal;
    font-weight: normal;
}

html,
body{
    font-family: "Stolzl";
    background-color: #210E09;
    color: #ffffff;

}

.page{
    width: 1305px;
    margin: 0 auto;
}


/* Боковое меню */
.sidenav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    /* margin-top: 40px; */
    padding-top: 42px;

    height: 100%;
    width: 0;

    position: fixed;

    z-index: 2;

    top: 0;
    left: 0;

    background-color: #3b1e0c;

    overflow-y: auto;
    /* overflow-x: hidden; */
    transition: 0.5s all;
}

.sidenav__icons{
    width: 200px;
    text-align: right;
}

.sidenav__icons__cancel {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.sidenav__img__logo{
    width: 157.89px;
    height: 40px;
}

.sidenav__menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidenav__menu__item{
    color: #FFFFFF;
}

.sidenav__menu__item:hover{
    color: #bebebe;
}
/* Header */
.header{
    font-size: 14px;
    line-height: 150%;

    margin-top: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__burger{
    display: none;
    /* display: flex;
    flex-direction: column;
    gap: 10px; */
}

.burger__line{
    border: 1px solid #D5621D;
    width: 48px;
}

.headerLogo{
    width: 157.89px;
    height: 40px;
}

.header__menu{
    display: flex;
    gap: 30px;
}

.header__menu__link{
    color: #ffffff;
}

.header__menu__link:hover, .headerBtn:hover{
    color: #bebebe;
}

.headerBtn, .sidenavBtn{
    padding: 15px 30px;

    border: 2px solid #D5621D;
    border-radius: 5px;

    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

/* Общие классы */
.kitchen__header__title, .events-turists__event__title, .events-turists__turist__title, .rider__title, .footer__title, .poster__header__title{
    background-color: #ffffff;
    
    padding: 10px 20px 7px;
    
    /* width: 244px; */
    
    font-family: "Gotham Pro Bold";
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #210E09;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.kitchen__header__text, .events-turists__event__text, .events-turists__turist__text, .rider__text, .footer__text, .poster__header__text{
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 150%;
    font-family: "Gotham Pro Bold";
}


/* Footer */
.footer{
    margin-top: 150px;

    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.footer__content{
    display: flex;
    flex-direction: row;
    gap: 24px;

    margin-top: 80px;
}

.footer__content__info{
    display: flex;
    flex-direction: column;
    gap: 45px;

    background: rgba(213, 98, 29, 0.1);
    border: 2px solid #D5621D;
    border-radius: 5px;

    padding: 50px;

    width: 416px;
}

.info__communication, .info__directors{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.info__communication__address, .info__communication__number, .info__communication__work-regime, .info__directors__director, .info__directors__art-director{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info__communication__title, .info__director__title{
    font-family: "Gotham Pro Bold";
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.info__communication__text, .info__director__text{
    font-size: 14px;
    line-height: 150%;
}

.info__line{
    border: 1px solid #ffffff;
    opacity: 0.5;
}

iframe.map__medium{
    width: 856px; 
    height: 656px; 
    border: 2px solid #D5621D;
    border-radius: 5px;
}

iframe.map__small{
    display: none;
}

.footer__entitlement{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    width: 100%;
}

.footer__entitlement__line{
    opacity: 0.5;
    border: 1px solid #FFFFFF;
}

.footer__entitlement__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 14px;
    line-height: 150%;
    opacity: 0.5;
}

@media (max-width: 1024px){
    .page{
        width: 1000px;
    }

    .footer__content{
        flex-direction: column-reverse;
        align-items: center;
    }

    .footer__content__info{
        width: auto;
    }
}

@media (max-width: 768px){
    .page{
        width: 750px;
    }
    
    .header__menu{
        display: none;
    }

    .header__burger{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .footer__content{
        margin-top: 20px;
    }

    .map__medium{
        display: none;
    }

    iframe.map__small{
        width: 600px;
        height: 400px;
        display: block;
    }
    
    .footer{
        margin-top: 50px;
    }
}

@media (max-width: 425px){
    .page{
        width: 420px;
    }
    
    .header__menu{
        display: none;
    }

    .header{
        margin: 0 10px;
    }

    .headerBtn{
        padding: 10px 15px;
    }
 
    .kitchen__header__text, .events-turists__event__text, .events-turists__turist__text, .rider__text, .footer__text, .poster__header__text{
        font-size: 26px;
    }

    .kitchen__header__title, .events-turists__event__title, .events-turists__turist__title, .rider__title, .footer__title, .poster__header__title{
        font-size: 12px;
    }

    .info__communication__title, .info__director__title{
        font-size: 16px;
    }

    .info__communication__text, .info__director__text, .headerBtn{
        font-size: 12px;
    }

    .footer{
        margin: 40px 10px;
        
    }

    iframe.map__small{
        width: 400px;
        height: 200px;
        display: block;
    }

    .footer__entitlement__content{
        flex-direction: column;
    }
}

@media (max-width: 375px) {
    .page{
        width: 375px;
    }

    .header{
        gap: 60px;
        justify-content: flex-start;
    }
    .headerBtn{
        display: none;
    }

    iframe.map__small{
        width: 360px;
    }

}

@media (max-width: 320px) {
    .page{
        width: 320px;
    }

    .header{
        gap: 40px;
        justify-content: flex-start;
    }

    .headerBtn{
        display: none;
    }

    iframe.map__small{
        width: 310px;
    }

}