

/* first-screen */
.first-screen{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 53px;

    height: 540px;

    font-family: "Gotham Pro Bold";
}

.first-screen__banquets{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-end;

    background-image: url(./../img/fSBanquets.png);
    background-size: cover;
    width: 856px;
    height: 540px;

    padding: 45px 60px;

}

.first-screenBtn{
    font-size: 18px;
    color: #000000;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    line-height: 150%;

    background-color: #ffffff;
    border-radius: 5px;

    padding: 10px 20px 7px;

    width: 155px;
}

.first-screen__text{
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}



.first-screen__announcements{
    display: flex;
    flex-direction: column;
    width: 416px;
    height: 542px;
}

.announcements__menu{
    display: flex;
    
}

.announcements__menu__item{
    background: rgba(213, 98, 29, 0.05);
    border-radius: 5px 5px 0px 0px;
    
    width: 208px;
    height: 40px;

    padding: 12px 10px 7px;

    text-align: center;
    
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
}

.announcements__menu__item.active{
    background: rgba(213, 98, 29, 0.1);
}

.announcements__tab:not(.active){
    display: none;
}

.announcements__tab.active{
    display: flex;
    flex-wrap: wrap;
    gap: 26px;

    height: 502px;

    background: rgba(213, 98, 29, 0.1);
    border-radius: 0px 0px 5px 5px;

    padding: 39px 35px 37px;
}

.announcements__img{
    width: 160px;
    height: 200px;
}

/* kitchen */
.kitchen{
    margin-top: 120px;

    /* height: 983px; */

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Gotham Pro Bold";
}

.kitchen__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}





.kitchen__menu{
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;

    margin-top: 80px;
}


.kitchen__menu__items{
    display: flex;
    flex-wrap: wrap;
    /* column-gap: 56px; */
    row-gap: 104px;
    justify-content: space-between;
}

.menu__item{
    display: flex;
    gap: 25px;

    width: 486px;
    height: 111px;
}

.menu__item__img{
    width: 110px;
    height: 110px;
}

.menu__item__info__titlePrice{
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #ffffff;
}

.menu__item__title{
    line-height: 150%;
    font-size: 18px;
    text-transform: uppercase;
}

.menu__item__price{
    padding: 10px 20px;
    
    line-height: 150%;
    font-size: 14px;

    border: 2px solid #D5621D;
    border-radius: 5px;
}

.menu__item__info__weight, .menu__item__info__note{
    font-family: "Stolzl";
    font-size: 14px;
    line-height: 150%;
}

.menu__item__info__weight{
    color: #D5621D;
}

.kitchen__menu__arrowLeft, .kitchen__menu__arrowRight{
    background-color: #D5621D;

    padding: 15px 15px;

    color: #ffffff;
}

.kitchenBnt{
    font-size: 18px;
    line-height: 150%;

    background-color: #D5621D;

    width: 170px;

    padding: 15px 30px;
    margin-top: 111px;
}

/* events-turists */
.events-turists{
    display: flex;
    flex-direction: row;
    gap: 44px;

    margin-top: 150px;

    height: 560px;
}

.events-turists__event, .events-turists__turist{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.events-turists__event, .events-turists__turist{
    width: 440px;
}

.events-turists__content__img{
    width: 416px;
    height: 560px;
}

.events-turists__event__note, .events-turists__turist__note{
    text-align: center;
    font-size: 14px;
    line-height: 150%;
    width: 376px;
}

.events-turists__eventBnt, .events-turists__turistBnt{
    padding: 15px 30px;

    border: 2px solid #D5621D;
    border-radius: 5px;

    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

/* rider */
.rider{
    margin-top: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    padding: 0 110px;
}

.rider__content{
    display: flex;
    flex-direction: row;
    gap: 134px;
}

.rider__accordion{
    margin-top: 20px;
}

.accordion__tab{
    margin-top: 20px;
    width: 526px;
}

.accordion__tab__link{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.accordion__tab__link{
    background: rgba(213, 98, 29, 0.1);
    border-radius: 5px;
    padding: 20px 40px;

    font-family: "Gotham Pro Bold";
}

.accordion__tab .accordion__tab__link a, .accordion__tab .accordion__tab__link img{
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    
    text-transform: uppercase;
}

.accordion__tab:not(.active) .accordion__tab__text{
    display: none;
}

.accordion__tab.active{
    background-color: #D5621D;
    
    padding-bottom: 20px;
}

.accordion__tab__text{
    padding: 0 40px;

    font-family: "Stolzl";
    font-size: 14px;
    line-height: 150%;
}

.accordion__tab__text__item{
    list-style-type: initial;

    padding: 5px 0;

}

.sound-producers{
    display: flex;
    flex-direction: column;
    gap: 50px;

    margin-top: 40px;
}

.sound-producers__text{
    font-family: "Gotham Pro Black";
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
}

.sound-producers__content{
    display: flex;
    gap: 24px;
}

.content__producer{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.sound-producers__img{
    width: 196px;
    height: 210px;
    border-radius: 5px;
}

.sound-producers__name{
    font-family: "Gotham Pro Bold";
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
}

.sound-producers__soc-net{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.sound-producers__soc-net__icons{
    padding: 10px;

    border: 2px solid #D5621D;
    border-radius: 5px;
}

/* Footer */
.footer{
    margin-top: 150px;

    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.footer__content{
    display: flex;
    flex-direction: row;
    gap: 24px;

    margin-top: 80px;
}

.footer__content__info{
    display: flex;
    flex-direction: column;
    gap: 45px;

    background: rgba(213, 98, 29, 0.1);
    border: 2px solid #D5621D;
    border-radius: 5px;

    padding: 50px;

    width: 416px;
}

.info__communication, .info__directors{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.info__communication__address, .info__communication__number, .info__communication__work-regime, .info__directors__director, .info__directors__art-director{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info__communication__title, .info__director__title{
    font-family: "Gotham Pro Bold";
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.info__communication__text, .info__director__text{
    font-size: 14px;
    line-height: 150%;
}

.info__line{
    border: 1px solid #ffffff;
    opacity: 0.5;
}

iframe.map__medium{
    width: 856px; 
    height: 656px; 
    border: 2px solid #D5621D;
    border-radius: 5px;
}

iframe.map__small{
    display: none;
}

.footer__entitlement{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    width: 100%;
}

.footer__entitlement__line{
    opacity: 0.5;
    border: 1px solid #FFFFFF;
}

.footer__entitlement__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 14px;
    line-height: 150%;
    opacity: 0.5;
}

@media (max-width: 1024px) {
    .menu__item{
        width: 400px;
        height: auto;
    }

    .kitchen__menu{
        gap: 20px;
    }
    .rider__content{
        gap: 20px;
    }

    .events-turists{
        /* display: flex; */
        flex-direction: column;
        align-items: center;
        gap: 40px;

        height: auto;
    }

    .events-turists__event, .events-turists__turist{
        gap: 40px;
        width: 500px;
    }
    
    .events-turists__event__note, .events-turists__turist__note{
        width: auto;
    }

    .sound-producers__content {
        display: flex;
        justify-content: space-between;
    }
    
    .rider{
        padding: 0;
    }

    .footer__content{
        flex-direction: column-reverse;
        align-items: center;
    }

    .footer__content__info{
        width: auto;
    }
}

@media (max-width: 768px){
    .first-screen{
        flex-direction: column;
        height: auto;
        align-items: center;
        gap: 30px;

    }

    .first-screen__banquets{
        padding: 0;
        width: auto;    
    }
    
    .first-screen__announcements{
        width: 700px;
    }

    .announcements__tab.active{
        justify-content: space-between;
    }

    .menu__item{
        width: auto;
    }

    .kitchen__menu__items{
        row-gap: 30px;
    }

    .rider__content{
        flex-direction: column;
        align-items: center;
    }

    .map__medium{
        display: none;
    }

    iframe.map__small{
        width: 600px;
        height: 400px;
        display: block;
    }
}


@media (max-width: 425px){
    .first-screen{
        margin: 50px 10px;

    }
    .first-screen__announcements{
        width: auto;
    }

    .menu__item{
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }

    .events-turists__event, .events-turists__turist{
        width: 400px;
    }

    .accordion__tab{
        width: 400px;
    }

    .sound-producers{
        margin: 0 10px;
        
    }
}